* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.banner {
    width: 200vh;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_site {
    
    width: 400px;
}

/*Essas quatro primeiras classes são das edições do menu, elas estão com (#cabecalho) */
#cabecalho {
    display: flex;
    justify-content: center;
}
#cabecalho ul {
    align-content: center;
}
#cabecalho ul li{
 width: 158px;
 height: 60px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 float:left;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size:20px;
 
}
/* Esses codigos são para os links mudarem de cor quando forem clicados ou passar a seta por cima */
#cabecalho a{
    text-decoration: none;
}
#cabecalho a:hover {
   color: rgb(51, 209, 199);   
}

nav {
    display: inline-flex;
}

/*O (.bloco) é a edições dos blocos do site*/


.bloco{
    margin-top: 5%;
}


/* Essas são as edições dos titulos h1,h2,h3 e h4 do site*/
.nServicos {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

h1,h2,h3{
    font-size: 50px;
    margin-top: 8px;
    margin-left: 9px;
    text-align:center;
    color: rgb(49, 75, 131);
}
h4{
    font-size: 29px;
    margin-left: 30%;
    margin-top: 18%;
    text-decoration: none;
    color:rgb(49, 75, 131);
}

#logo{
   width: 20px;
   
}
/*codigos das imagens do site*/
 img{ 
     margin-bottom: 10px;
     max-width: 60%;
    
}
/* Essa id foi volocado para deichar as imagens do lado direito do site*/
.foto{
     margin-left: 80%;
}


/* Essas são as edições do paragrafo do site */

p{
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:4% 20% 4% 20% ;
    font-size:28px;
    text-align: justify;
    text-indent: 20px;
}


.float-img{
    border-radius: 45px;
    float:left;
    max-width: 28%;
    margin-left:4%;
    margin-top: 4%;
    padding-right:10px;
    flex-direction: center;
    overflow: hidden; 
    position: relative;
    
   
}
.float-img1{
    border-radius: 45px;
    float:right;
    max-width: 28%;
    margin-right:11%;
    margin-top: 6%;
    padding-left:11px;
    flex-direction: center;
} 

.espacamento p{
       text-align: justify;
       font-size: 30px;
       margin-bottom: 40px;
       
}
.instalacoes{
    margin-top: 15%;
}